* {
    font-family: "Lato";
    font-size: 18px;
}

body{
    background-color: #E2E2E2;
    margin:0;
}

.invalid {
    border-color: rgb(253, 86, 86);

}

.category-tree ul{
    list-style-type: none;
    margin-left: 20px;
    padding: 5px;
}

.category-tree a{
    text-decoration: none;
    color: black;
}