<div class="modal fade" id="sign-in-modal" tabindex="-1" aria-hidden="true">
        
    <div class="modal-dialog">
      <div class="modal-content">
        
          <div class="modal-header">
          <p style="font-size:2.5rem; margin:auto">Sign in</p>
          </div>
          
        <div class="modal-body">
    
        
        </div>
        <div class="modal-footer" >
          <div class="container" style="display:flex; justify-content: space-between;">
            <a href="" class="nav-link active no-underline-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#pass-reset-modal">reset password</a>
            <a href="" class="nav-link active no-underline-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#sign-up-modal">sign up</a>
          </div>
        </div>
      </div>

</div>
</div>