

<div class='js-filter js-filter-single' style="width:70%; margin: 0 0 30px 20px" id="filter-{{category_id}}" value="">
    <div style="font-weight:600; margin-bottom:10px;">{{category_attr}} {% if units %}({{units}}){% endif %}</div>

    <select class="form-select" aria-label="{{category_attr|slugify}}-select">
            <option value="">---choices---</option>
        {% for value in values %}
            <option value="{{value.value}}">{{value.value}}</option>
        {% endfor %}
      </select>


</div>