{% load extra_tags %}

<div class='tile'>
    <div style="display:flex; flex-direction:column">
        {% for image in sku.image_set.all %}
            <div ><img src='{{image.image.url}}'style="width:220px; height:220px; border-radius:20px; object-fit: cover;"></div>
        {% endfor %}
    </div>
    <div style="display:flex; flex-direction:column; gap:10px; max-width: 350px;">
        <div>{{sku.product.name}}</div>
        {% if sku.product.short_desc %}<div>{{sku.product.short_desc}}</div>{% endif %}
        <div style="display:flex; flex-direction:column">
            
            {% for attr in sku.skucategoryattribute_set.all %}
                <div style="font-size:0.9rem"><span style="font-weight:bold; font-size:0.9rem">{{attr.category_attribute.attribute.name}}:</span> {{attr.value}} {{attr.category_attribute.attribute.units}}</div>
            {% endfor %}
        </div>
    </div>

    <div style="display:flex; flex-direction:column; gap:10px">
        <div>${{sku.price}}</div>
        <button class="btn btn-primary">Buy now</button>
        <div>Delivery: on {{ 2|from_today:'%b %d' }}</div>
    </div>
</div>